* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

header#header {
  widows: 100%;
  height: 90px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 100px;
}

header#header > a.logo {
  width: 100px;
}

header#header > a.logo > img {
  width: 100%;
}

header#header > div.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header#header > div.left > a.login, header#header > div.left > .register {
  display: block;
  width: 120px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  font-weight: 600;
  color: #000;
  margin: 0 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#FEE958));
  background: linear-gradient(to bottom, #fff, #FEE958);
}

header#header > div.left > .register {
  color: #fff;
  margin: 0 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FC6A6D), to(#FD904D));
  background: linear-gradient(to bottom, #FC6A6D, #FD904D);
}

header#header > div.left > select {
  width: 100px;
  height: 33px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  margin: 0 30px;
}

nav#nav {
  width: 100%;
  height: 60px;
  background-color: #FFE850;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav#nav > a {
  display: block;
  width: 200px;
  height: 60px;
  background-color: #FFE850;
  text-align: center;
  line-height: 60px;
  font-weight: 600;
  font-size: 17px;
  color: #000;
}

nav#nav > a:hover {
  background-color: #FFD700;
}

#index {
  background-image: url("../images/indexBg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 581px;
}

#login {
  width: 100%;
  height: calc(100vh - 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../images/loginbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#login > h1 {
  margin-bottom: 20px;
  font-size: 50px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-bottom: 5px #fff solid;
}

#login > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  color: #CBC080;
}

@media screen and (max-width: 350px) {
  #login > form {
    width: 95%;
  }
}

#login > form > img {
  width: 400px;
}

@media screen and (max-width: 400px) {
  #login > form > img {
    width: 95%;
  }
}

#login > form > p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #bbb;
  margin-bottom: 10px;
}

#login > form > input {
  width: 100%;
  height: 40px;
  border: 1px #fff solid;
  border-radius: 25px;
  background-color: transparent;
  outline: none;
  margin: 8px 0;
  padding: 0 10px;
  color: #fff;
  font-size: 16px;
}

#login > form > .link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

#login > form > .link > .registerlink {
  color: #CBC080;
  font-weight: 600;
}

#login > form > .link > #forgettext {
  color: #CBC080;
}

#login > form > .submit-btn {
  color: #121212;
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
  width: 200px;
  cursor: pointer;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#CBC080), color-stop(#CBC080), color-stop(#E7D2A3), to(#CBC080));
  background: linear-gradient(to right, #CBC080, #CBC080, #E7D2A3, #CBC080);
  height: 50px;
}

#login > form > .error {
  color: #f00;
}

#register {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/registerbg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0;
}

#register .regtitle {
  margin-bottom: 20px;
  width: 250px;
}

#register > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
}

@media screen and (max-width: 350px) {
  #register > form {
    width: 95%;
  }
}

#register > form > p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #bbb;
  margin-bottom: 10px;
}

#register > form > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#register > form > label > span {
  color: #CBC080;
  min-width: 80px;
  margin-right: 6px;
}

#register > form > label > span::before {
  content: "*";
  color: #f00;
}

#register > form > label > span.line::before {
  content: "";
}

#register > form > label input {
  width: 100%;
  height: 40px;
  border: 1px #CBC080 solid;
  background-color: transparent;
  outline: none;
  margin: 8px 0;
  padding: 0 10px;
  color: #CBC080;
  font-size: 16px;
  border-radius: 18px;
}

#register > form > label > .codeDiv {
  min-width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#register > form > label > .codeDiv > .chkcodeimg {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 15px 0 8px 0;
}

#register > form > label > .codeDiv > .re-chkcode {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #CBC080;
}

#register > form > label > .chkcode {
  width: 70%;
}

#register > form > div {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#register > form > .submit-btn {
  color: #121121;
  background-color: #CBC080;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  border-radius: 25px;
  width: 100%;
  margin-top: 10px;
}

#register > form > .submit-btn:hover {
  background-color: #ccc;
  -webkit-transition: .5s;
  transition: .5s;
}

#airplane {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-image: url("../images/airplane/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
}

#airplane > .header {
  width: 100%;
  height: 80px;
  background-image: -webkit-gradient(linear, left top, right top, from(#06033A), color-stop(#492E9B), to(#06033A));
  background-image: linear-gradient(to right, #06033A, #492E9B, #06033A);
  border-bottom: 4px solid #fd0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#airplane > .header > .left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#airplane > .header > .left > .userBox {
  height: 80%;
  position: relative;
  margin-right: 20px;
}

#airplane > .header > .left > .userBox > img {
  height: 100%;
}

#airplane > .header > .left > .userBox > h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFF;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#airplane > .header > .left > .moneyBox {
  height: 80%;
  position: relative;
}

#airplane > .header > .left > .moneyBox > img {
  height: 100%;
}

#airplane > .header > .left > .moneyBox > h3 {
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFF;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#airplane > .header > .right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#airplane > .header > .right > .fpsBox {
  height: 70%;
  position: relative;
  margin-right: 20px;
}

#airplane > .header > .right > .fpsBox > img {
  height: 100%;
}

#airplane > .header > .right > .fpsBox > h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFF;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#airplane > .header > .right > i {
  font-size: 45px;
  cursor: default;
  color: #E43FD1;
}

#airplane > .center {
  width: 100%;
  height: auto;
  padding: 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#airplane > .center > .playBox {
  width: 400px;
  height: auto;
  position: relative;
  margin: 0 20px;
  border: 6px #ED35D1 solid;
  overflow: hidden;
  min-width: 400px;
}

#airplane > .center > .playBox > img.playBg {
  width: 450px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

#airplane > .center > .playBox > .airplaneDiv {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  background-color: transparent;
}

#airplane > .center > .playBox > .airplaneDiv > .bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#airplane > .center > .playBox > .airplaneDiv > .bg.start {
  -webkit-animation: bganim 11s linear;
          animation: bganim 11s linear;
}

@-webkit-keyframes bganim {
  0% {
    -webkit-transform: translateY(-2800px);
            transform: translateY(-2800px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bganim {
  0% {
    -webkit-transform: translateY(-2800px);
            transform: translateY(-2800px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

#airplane > .center > .playBox > .airplaneDiv > .air {
  width: 38px;
  -webkit-transform: translateY(-380px);
          transform: translateY(-380px);
  -webkit-transform: translateY(120px);
          transform: translateY(120px);
  -webkit-transform: translateY(340px);
          transform: translateY(340px);
  -webkit-transform: translateY(270px);
          transform: translateY(270px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#airplane > .center > .playBox > .airplaneDiv > .air > img.airImg {
  width: 60px;
}

#airplane > .center > .playBox > .airplaneDiv > .air > img.injection {
  width: 10px;
}

#airplane > .center > .playBox > .airplaneDiv > .air.air1 {
  -webkit-animation: airNo1 8.2s linear;
          animation: airNo1 8.2s linear;
}

#airplane > .center > .playBox > .airplaneDiv > .air.air2 {
  -webkit-animation: airNo1 11s linear;
          animation: airNo1 11s linear;
}

#airplane > .center > .playBox > .airplaneDiv > .air.air3 {
  -webkit-animation: airNo1 9s linear;
          animation: airNo1 9s linear;
}

#airplane > .center > .playBox > .airplaneDiv > .air.air4 {
  -webkit-animation: airNo1 8.5s linear;
          animation: airNo1 8.5s linear;
}

#airplane > .center > .playBox > .airplaneDiv > .air.air5 {
  -webkit-animation: airNo1 7.7s linear;
          animation: airNo1 7.7s linear;
}

#airplane > .center > .playBox > .airplaneDiv > .air.air6 {
  -webkit-animation: airNo1 10s linear;
          animation: airNo1 10s linear;
}

#airplane > .center > .playBox > .airplaneDiv > .air.air7 {
  -webkit-animation: airNo1 10.5s linear;
          animation: airNo1 10.5s linear;
}

#airplane > .center > .playBox > .airplaneDiv > .air.air8 {
  -webkit-animation: airNo1 8s linear;
          animation: airNo1 8s linear;
}

#airplane > .center > .playBox > .airplaneDiv > .air.air9 {
  -webkit-animation: airNo1 8.9s linear;
          animation: airNo1 8.9s linear;
}

#airplane > .center > .playBox > .airplaneDiv > .air.air10 {
  -webkit-animation: airNo1 10.9s linear;
          animation: airNo1 10.9s linear;
}

@-webkit-keyframes airNo1 {
  0% {
    -webkit-transform: translateY(270px);
            transform: translateY(270px);
  }
  10% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  20% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  30% {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
  }
  40% {
    -webkit-transform: translateY(170px);
            transform: translateY(170px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  60% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  70% {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
  }
  80% {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
  90% {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
  }
  100% {
    -webkit-transform: translateY(-380px);
            transform: translateY(-380px);
  }
}

@keyframes airNo1 {
  0% {
    -webkit-transform: translateY(270px);
            transform: translateY(270px);
  }
  10% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
  20% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  30% {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
  }
  40% {
    -webkit-transform: translateY(170px);
            transform: translateY(170px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  60% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
  }
  70% {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
  }
  80% {
    -webkit-transform: translateY(160px);
            transform: translateY(160px);
  }
  90% {
    -webkit-transform: translateY(90px);
            transform: translateY(90px);
  }
  100% {
    -webkit-transform: translateY(-380px);
            transform: translateY(-380px);
  }
}

#airplane > .center > .playBox > .airRnakList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A3C4F;
  color: #fff;
}

#airplane > .center > .playBox > .airRnakList > div p {
  font-size: 40px;
}

#airplane > .center > .playBox > .airRnakList > #airTrend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#airplane > .center > .playBox > .airRnakList > #airTrend > p {
  color: #fff;
  margin: 0 10px;
  font-weight: 600;
  font-size: 18px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#airplane > .center > .playBox > .airRnakList > #airTrend > p.p1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#airplane > .center > .playBox > .airRnakList > #airTrend > p.p2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

#airplane > .center > .playBox > .airRnakList > #airTrend > p.p3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

#airplane > .center > .playBox > .airRnakList > #airTrend > p.p4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

#airplane > .center > .playBox > .airRnakList > #airTrend > p.p5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

#airplane > .center > .playBox > .airRnakList > #airTrend > p.p6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

#airplane > .center > .playBox > .airRnakList > #airTrend > p.p7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

#airplane > .center > .playBox > .airRnakList > #airTrend > p.p8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

#airplane > .center > .playBox > .airRnakList > #airTrend > p.p9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

#airplane > .center > .playBox > .airRnakList > #airTrend > p.p10 {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

#airplane > .center > .playBox > .timing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

#airplane > .center > .playBox > .timing > p {
  font-size: 40px;
}

#airplane > .center > .playBox > .airTopThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #007548;
  color: #fff;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

#airplane > .center > .playBox > .airTopTen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3c5c00;
  color: #fff;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

#airplane > .center > .betBox {
  margin: 0 20px;
  width: 600px;
}

#airplane > .center > .betBox #hiddenRadioRank {
  position: fixed;
  top: -999999999999999999px;
  left: 999999999999999px;
  opacity: 0;
}

#airplane > .center > .betBox > nav.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#airplane > .center > .betBox > nav.nav > img {
  width: 120px;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: default;
}

#airplane > .center > .betBox > nav.nav > img.focus {
  color: #000;
  border: 1px #F4E91B solid;
  background-image: -webkit-gradient(linear, left top, right top, from(#F4E91B), color-stop(#FCFBCF), to(#F4E91B));
  background-image: linear-gradient(to right, #F4E91B, #FCFBCF, #F4E91B);
}

#airplane > .center > .betBox > .content {
  width: 600px;
  height: 490px;
  border: 1px  #2baaca solid;
  background: #000;
}

#airplane > .center > .betBox > .content > span.odds {
  margin-top: 25px;
  display: block;
  width: 100%;
  height: 35px;
  color: #F7F9C7;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
  background-image: -webkit-gradient(linear, left top, right top, from(#490F3F), to(#004E4B));
  background-image: linear-gradient(to right, #490F3F, #004E4B);
}

#airplane > .center > .betBox > .content > .rankBtnBox {
  margin-top: 20px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[5];
      grid-template-columns: repeat(5, 100px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 1em;
}

#airplane > .center > .betBox > .content > .rankBtnBox > img {
  width: 100%;
  cursor: default;
}

#airplane > .center > .betBox > .content > .airplaneRankBox {
  margin-top: 20px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (90px)[5];
      grid-template-columns: repeat(5, 90px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
}

#airplane > .center > .betBox > .content > .airplaneRankBox > div.rank {
  width: 100%;
  position: relative;
}

#airplane > .center > .betBox > .content > .airplaneRankBox > div.rank > .smallDiamond {
  position: absolute;
  width: 40px;
  opacity: .8;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: betDiamond .2s linear;
          animation: betDiamond .2s linear;
  display: none;
}

@-webkit-keyframes betDiamond {
  0% {
    top: 200px;
    left: -100px;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}

@keyframes betDiamond {
  0% {
    top: 200px;
    left: -100px;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}

#airplane > .center > .betBox > .content > .airplaneRankBox > div.rank > .air {
  width: 100%;
  cursor: default;
}

#airplane > .center > .betBox > .content#game2, #airplane > .center > .betBox > .content#game3, #airplane > .center > .betBox > .content#game4, #airplane > .center > .betBox > .content#game5 {
  display: none;
}

#airplane > .center > .betList {
  margin: 0 20px;
  width: 252px;
  min-width: 252px;
  height: 540px;
  border: 6px #ED35D1 solid;
  position: relative;
  padding: 10px;
  padding-top: 54px;
  padding-bottom: 55px;
}

#airplane > .center > .betList > .header {
  width: calc(100% + 12px);
  height: 50px;
  position: absolute;
  top: -6px;
  left: -6px;
  background-image: -webkit-gradient(linear, left top, right top, from(#E23CD2), to(#00FFFF));
  background-image: linear-gradient(to right, #E23CD2, #00FFFF);
  color: #000;
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
}

#airplane > .center > .betList > .list {
  width: 100%;
  height: 55px;
  background-color: rgba(226, 60, 210, 0.5);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
}

#airplane > .center > .betList > .list > .title {
  border: 1px #fff solid;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 3px;
  font-size: 12px;
}

#airplane > .center > .betList > .list > .issue {
  font-weight: 900;
  margin: 0 3px;
}

#airplane > .center > .betList > .total {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  background-color: #2C1B71;
  color: #1CE6F8;
  font-size: 13px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 900;
}

#airplane > .center > .betList > p.betText {
  position: absolute;
  top: 84px;
  left: 80px;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

#airplane > .bottom {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

#airplane > .bottom > .diamondBox {
  position: relative;
}

#airplane > .bottom > .diamondBox > i {
  color: #fff;
  position: absolute;
  top: 50%;
  font-size: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: default;
}

#airplane > .bottom > .diamondBox > i#diamondBoxLeft {
  left: -25px;
}

#airplane > .bottom > .diamondBox > i#diamondBoxRight {
  right: -25px;
}

#airplane > .bottom > .diamondBox > .diamondBoxList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 150px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#airplane > .bottom > .diamondBox > .diamondBoxList > img.diamondBtn {
  width: 100px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: default;
}

#airplane > .bottom > .perbetBox {
  width: 200px;
  margin: 0 20px;
  position: relative;
}

#airplane > .bottom > .perbetBox > img {
  width: 200px;
}

#airplane > .bottom > .perbetBox > .dollar {
  position: absolute;
  bottom: 5px;
  left: 50%;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#airplane > .bottom > .btnBox {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 20px;
}

#airplane > .bottom > .btnBox > img {
  width: 180px;
  cursor: default;
}
/*# sourceMappingURL=style.css.map */